// 1. Import the initial variables
@import "bulma.min";
@import "../node_modules/bulma/sass/utilities/_all";
$body: "Gill Sans Nova Book",
"KoburinaGoStdN-W3",
"こぶりなゴシック W3 JIS2004",
"Koburina Gothic W3 JIS2004",
sans-serif;
$bold: "Gill Sans Nova Bold",
"KoburinaGoStdN-W6",
"こぶりなゴシック W6 JIS2004",
"Koburina Gothic W6 JIS2004",
sans-serif;
$grad: linear-gradient(135deg, rgba(233, 149, 181, 1) 0%, rgba(196, 47, 99, 1) 100%);
$gradtrans: linear-gradient(135deg, rgba(233, 149, 181, 0.3) 0%, rgba(196, 47, 99, 0.3) 100%);
$grad2: linear-gradient(45deg, rgba(85, 192, 221, 1) 0%, rgba(31, 112, 142, 1) 100%);
$gradtrans2: linear-gradient(45deg, rgba(85, 192, 221, 0.3) 0%, rgba(31, 112, 142, 0.3) 100%);
$blue: rgba(31, 112, 142, 1);

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=8d160743-fab1-41f1-8bb2-584f9c7402e5");

@font-face {
	font-family: "Gill Sans Nova Book";
	src: url("../www/Fonts/e5f44dae-0e0a-476d-9b92-3be122d4c8cd.eot?#iefix");
	src: url("../www/Fonts/e5f44dae-0e0a-476d-9b92-3be122d4c8cd.eot?#iefix") format("eot"), url("../www/Fonts/43b67b68-8704-4bc0-9c41-620c664cb9dd.woff2") format("woff2"), url("../www/Fonts/37a7a423-c7fe-48f9-8013-63d2cc236c7a.woff") format("woff"), url("../www/Fonts/5ba67d9b-fa03-41f5-8020-c72589420b52.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans Nova Book Italic";
	src: url("../www/Fonts/22e2ca5e-adf6-41b2-b40d-18ce3be86f77.eot?#iefix");
	src: url("../www/Fonts/22e2ca5e-adf6-41b2-b40d-18ce3be86f77.eot?#iefix") format("eot"), url("../www/Fonts/a2bba372-7bdb-4a75-a17a-6afcd47ef5f5.woff2") format("woff2"), url("../www/Fonts/88e1b823-5907-4654-ae0a-cb6a3e7a3cc5.woff") format("woff"), url("../www/Fonts/ad5ef801-a546-41d4-b48c-c55597505913.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans Nova Bold";
	src: url("../www/Fonts/079cb3e7-d420-4a5b-b544-a40ba9bb941c.eot?#iefix");
	src: url("../www/Fonts/079cb3e7-d420-4a5b-b544-a40ba9bb941c.eot?#iefix") format("eot"), url("../www/Fonts/f5458c7b-8d3d-4e66-a95b-123697bf634d.woff2") format("woff2"), url("../www/Fonts/39540fdd-27ee-47ce-b434-ab7dfb6e3d7f.woff") format("woff"), url("../www/Fonts/a9df8687-efe0-429b-bbbb-d5d32b933c0a.ttf") format("truetype");
}

@font-face {
	font-family: "Gill Sans Nova Bold Italic";
	src: url("../www/Fonts/b50a3060-e097-428a-94ff-4e87941f81ba.eot?#iefix");
	src: url("../www/Fonts/b50a3060-e097-428a-94ff-4e87941f81ba.eot?#iefix") format("eot"), url("../www/Fonts/edb5c2df-5268-4dcd-b219-d1c5aa73a590.woff2") format("woff2"), url("../www/Fonts/71046f0c-2223-4090-ac90-c023805d44c3.woff") format("woff"), url("../www/Fonts/bd5e0942-678c-471d-b256-276e9e99cc1b.ttf") format("truetype");
}

body {
	overflow: hidden;
	font-family: $body;
	color: black;
}

.has-bg-img {
	background: url("../www/img/main01.jpg") center center;
	background-size: cover;
}

#logo {
	position: absolute;
	bottom: 2rem;
	right: 2.5rem;
	height: 10rem;
}

#catch {
	position: absolute;
	left: 2rem;
	top: 55%;
	height: 10rem;
	transform: translateY(-50%);
}

.tile img {
	border-radius: 5px;
}

.syutten {
	display: inline-block;
	margin-top: 3rem;
	padding: 1rem;
	border-radius: 5px;
	border: white 2px solid;
	font-family: $bold;
	transition: all ease 0.5s;

	&:hover {
		box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
		background-color: #FFF;
	}
}

.syuimg {
	margin-top: 2.8rem;
	height: 4rem;
}

#fourm {
	h4 {
		font-family: $bold;
		background: white;
		padding: 1rem 0;
		border-radius: 5px;
	}

	h5 {
		text-align: left;
		font-family: $bold;
	}
}

.none {
	display: none !important;
}

.icon {
	transform: translateY(5px);
	margin-right: 5px;
}
#blog{

		img {
			border-radius: 5px;
			transition: 0.5s ease all;
		}
		.showfree{
			text-align: left;
			img{
				height: 15rem;
			}
		}
		h4,
		p {
			transition: 0.5s ease all;
			text-align: left;
		}

		a:hover {
			color: black;

			&>img {
				box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
				opacity: 1;
			}

			&>h4,
			p {
				opacity: 1;
			}
		}
}
.news {
	height: 100vh;
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

	.columns {
		overflow: scroll;
		text-align: left;
		height: 50vh;

		img {
			border-radius: 5px;
			transition: 0.5s ease all;
			opacity: 0.5;
		}

		h4,
		p {
			opacity: 0.5;
			transition: 0.5s ease all;
		}

		a:hover {
			color: black;

			&>img {
				box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
				opacity: 1;
			}

			&>h4,
			p {
				opacity: 1;
			}
		}
	}
}

.navbar {
	position: fixed;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	z-index: 10;
	font-size: 1.2em;
	font-family: $bold;

	img {
		height: 4rem;
		max-height: 4rem;
	}

	p {
		padding: 0 1rem;
	}

	.navbar-item.has-dropdown {
		align-items: center;
		transition: 0.5s ease all;
	}

	.navbar-item,
	.navbar-link {
		color: black;
	}

	.navbar-link:after {
		border-color: rgba(0, 0, 0, 0.5);
	}

	.navbar-link,
	#barlogo {
		position: relative;
		overflow: hidden;
		transition: 0.5s all ease;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			transform: translateX(-101%);
			transition: 0.5s ease all;
			background-color: white;
			z-index: -1;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0) !important;
			color: black;

			&:before {
				transform: translateX(0);
			}
		}
	}

	.navbar-item .navbar-item {
		position: relative;
		overflow: hidden;
		transition: 0.5s all ease;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			transform: translateX(-101%);
			transition: 0.5s ease all;
			background-color: white;
			z-index: -1;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0) !important;
			color: black;

			&:before {
				transform: translateX(0);
			}
		}
	}

	.navbar-end .navbar-item {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

.fadeIn {
	animation-duration: 0.5s !important;
}

.navbar-item.has-dropdown.is-active .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link {
	background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-dropdown {
	border-radius: 5px;
	background-color: white;
	border-top: none !important;

	.navbar-item {
		overflow: hidden;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-image: $grad2 !important;
			z-index: -2;
			opacity: 0.3;
		}

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			transition: 0.5s ease all;
			background: rgba(255, 255, 255, 0.8);
			z-index: -1;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0) !important;
			color: black;

			&:after {
				transform: translateX(100%);
			}
		}
	}
}

#date {
	position: absolute;
	right: 2rem;
	top: 12%;
	color: white;
	text-align: right;
	font-size: 1.2em;
}

.video {
	margin: 10rem;
}

a {
	color: black;
}

footer {
	text-align: center;
	margin-bottom: 1em;
	font-size: 0.9em;
	color: white;
	margin-top: -2.5rem;
}

#side {
	ul {
		font-size: 1.2em;

		li {}
	}
}

.link {
	display: inline-block;
	position: relative;
	width: 100%;
	overflow: hidden;
}

nav .icon {
	transform: translateY(0);
}

// h3 {
// 	text-align: center;
// 	font-size: 1.2em;
// 	padding: 0.5rem 0;
// 	margin: 1rem 0;
// 	border-top: 1px solid $grad;
// 	background: $grad2;
// 	color: white;
// }
#saiten {
	text-align: center;
	font-size: 1.3em;
	font-family: $bold;
	line-height: 2;
	margin: 0 0 2rem;
}


h3 {
	font-size: 2.5em;
	margin-bottom: 2rem;
	font-family: $bold;
	color: black;
	text-align: center;
}

.sns {
	text-align: center;

	h3 {
		margin-bottom: 2rem;
	}
}

h4 {
	font-size: 0.9em;
	font-family: $bold;
}

h6 {
	font-size: 1.1em;
	font-family: $bold;
	margin-top: 2.5rem;
	margin-bottom: 1rem;
}

h3+h6 {
	margin-top: -1rem;
}

#time {
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
	padding-top: 7rem;
	padding-bottom: 10rem;
}

#time img {
	border-radius: 5px;
	transition: all ease 0.5s;
	margin-top: 2rem;

	&:hover {
		box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
	}

	@include tablet-only {
		margin-top: 1rem;
	}

	@include mobile {
		margin-top: 0.5rem;
	}
}

#award:before {
	background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.contbox,
.box {
	box-shadow: none;
	border-radius: 5px;
	padding: 1.5rem;
	margin: 2rem 0 0;
	position: relative;
	background: $gradtrans2;
	text-align: left;
	transition: all ease 0.5s;

	&:hover {
		box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
	}
}

.red {
	background: $gradtrans;
}

p {
	font-size: 0.9em;
}

#blog {
	h6 {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}

table {
	margin-bottom: 2rem;
	font-size: 0.9em;

	td {
		padding: 1rem 1rem !important;
		border-color: $blue !important;
	}
}

.article {
	background: $grad2;
	padding: 1px;

	div {
		padding: 1rem;
		background: white;
	}

	p {
		font-size: 0.8em;
		position: relative;
		z-index: 5;
	}

	h4 {
		position: relative;
		z-index: 5;
	}
}

.tile a {
	width: 100%;
	height: 100%;

	article {
		width: 100%;
		height: 100%;
	}
}

.column.is-2 {
	background-color: #FFF;
}

.contleft {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 80px;
	padding-top: 0.5rem;
	position: fixed;
	margin-left: 10.5rem;
	z-index: 5;

	h3 {
		color: black;
		font-size: 1em;
		float: left;
	}

	p {
		font-size: 0.9em;
		position: relative;
		overflow: hidden;
		transition: 0.5s all ease;
		float: left;
		border-bottom: 1px solid rgba(0, 0, 0, 0);
		margin: 0.1rem 0 0 2rem;

		&:hover {
			border-bottom: 1px solid black;
			color: black;
		}
	}
}

.section {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		top: 0;
		transform: skewY(-7deg);
		z-index: -3;
	}
}

#about,
#table,
#list,
#blog,
#contact {
	padding-top: 50px;

	&:before {
		top: -30rem;
	}
}

#table:before {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#access,
#workshop,
#every,
#contact,#blog {
	&:before {
		bottom: -30rem;
	}
}
#blog{
	&:before{
		background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
	}
}
#contact{
	padding-top: 10rem;
	height: 100vh;
	&:before{
		background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
	}
}
#otona:before{
	background-color: #DCD9D4; 
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); 
 background-blend-mode: soft-light,screen;
}
#fourm:before{
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
#every:before{
	background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}
#access:before {
	background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

#about {
	img {
		width: 40rem;
		margin-bottom: 2rem;
	}

	&:before {
		background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
	}
}

#zadan:before {
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

#talk:before {
	background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}

#workshop:before {
	background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

#concept {
	img {
		width: 40rem;
	}

	&:before {
		background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
		top: 0;
	}
}

.block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container {
	text-align: center;
	padding: 8rem 0;

	p {
		font-size: 0.9em;
		line-height: 2;
		text-align: justify;

		b {
			font-family: $bold;
		}

		a {
			display: inline-block;
			border-bottom: 1px solid black;
			position: relative;
			overflow: hidden;
			transition: 0.5s all ease;
			padding: 0;
			z-index: 3;

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: -100%;
				top: 0;
				background-color: white;
				z-index: -2;
				transition: 0.5s ease all;
			}

			&:hover {
				color: black;

				&:before {
					transform: translateX(101%);
				}
			}
		}
	}
}

.iconimg {
	height: 10rem;
	margin-top: -4.6rem;
}

.dummy {
	background-color: #eee;
	position: relative;
	width: 100%;
	height: 10rem;
	border-radius: 5px;

	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.dummy2 {
	height: 5rem;
	background-color: #eee;
}

.boothbox {
	height: 8rem;
	background-color: #eee;

	&~h4 {
		text-align: left;
		margin-top: 0.5rem;
		font-family: $bold;
		font-size: 0.9em;

		@include mobile {
			font-size: 0.8em;
		}
	}

	&~h5 {
		text-align: left;
		font-size: 0.7em;
	}
}

.kigyo {
	height: 13rem;
	background-color: #eee;

	&~h4 {
		text-align: center;
		margin-top: 0.5rem;
		font-family: $bold;

		@include mobile {
			font-size: 0.8em;
		}
	}

	&~p {
		font-size: 0.8em;
	}
}

#kigyo1 {
	background: url("/www/img/kigyo/1.jpg") center center no-repeat;
	background-size: contain;
}

#kigyo2 {
	background: url("/www/img/kigyo/2.jpg") center center no-repeat;
	background-size: contain;
}

#kigyo3 {
	background: url("/www/img/award/1.jpg") center center no-repeat;
	background-size: contain;
}

#kigyo4 {
	background: url("/www/img/kigyo/4.jpg") center center no-repeat;
	background-size: contain;
}

#kigyo5 {
	background: url("/www/img/kigyo/5.png") center center no-repeat;
	background-size: contain;
}

#kigyo6 {
	background: url("/www/img/kigyo/6.jpg") center center no-repeat;
	background-size: contain;
}

#kigyo7 {
	background: url("/www/img/kigyo/7.jpg") center center no-repeat;
	background-size: contain;
}

#kigyo8 {
	background: url("/www/img/kigyo/8.jpg") center center no-repeat;
	background-size: contain;
}

#kigyo9 {
	background: url("/www/img/kigyo/9.jpg") center center no-repeat;
	background-size: contain;
}

.sime {
	margin-bottom: 0;
	margin-top: 1rem;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		bottom: 0;
		left: 20%;
		right: 20%;
		background-color: #FFF;
		z-index: -1;
	}
}

#booth1 {
	background: url("/www/img/booth/1.jpg") left center no-repeat;
	background-size: contain;
}

#booth2 {
	background: url("/www/img/booth/2.jpg") left center no-repeat;
	background-size: contain;
}

#booth3 {
	background: url("/www/img/booth/3.jpg") left center no-repeat;
	background-size: contain;
}

#booth4 {
	background: url("/www/img/booth/4.jpg") left center no-repeat;
	background-size: contain;
}

#booth5 {
	background: url("/www/img/booth/5.jpg") left center no-repeat;
	background-size: contain;
}

#booth6 {
	background: url("/www/img/booth/6.jpg") left center no-repeat;
	background-size: contain;
}

#booth7 {
	background: url("/www/img/booth/7.jpg") left center no-repeat;
	background-size: contain;
}

#booth8 {
	background: url("/www/img/booth/8.jpg") left center no-repeat;
	background-size: contain;
}

#booth9 {
	background: url("/www/img/booth/9.jpg") left center no-repeat;
	background-size: contain;
}

#booth10 {
	background: url("/www/img/booth/10.jpg") left center no-repeat;
	background-size: contain;
}

#booth11 {
	background: url("/www/img/booth/11.jpg") left center no-repeat;
	background-size: contain;
}

#booth12 {
	background: url("/www/img/booth/12.jpg") left center no-repeat;
	background-size: contain;
}

#booth13 {
	background: url("/www/img/booth/13.jpg") left center no-repeat;
	background-size: contain;
}

#booth14 {
	background: url("/www/img/booth/14.jpg") left center no-repeat;
	background-size: contain;
}

#booth15 {
	background: url("/www/img/booth/15.jpg") left center no-repeat;
	background-size: contain;
}

#booth16 {
	background: url("/www/img/booth/16.jpg") left center no-repeat;
	background-size: contain;
}

#booth17 {
	background: url("/www/img/booth/17.jpg") left center no-repeat;
	background-size: contain;
}

#booth18 {
	background: url("/www/img/booth/18.jpg") left center no-repeat;
	background-size: contain;
}

#booth19 {
	background: url("/www/img/booth/19.jpg") left center no-repeat;
	background-size: contain;
}

#booth20 {
	background: url("/www/img/booth/20.jpg") left center no-repeat;
	background-size: contain;
}

#booth21 {
	background: url("/www/img/booth/21.jpg") left center no-repeat;
	background-size: contain;
}

#booth22 {
	background: url("/www/img/booth/22.jpg") left center no-repeat;
	background-size: contain;
}

#booth23 {
	background: url("/www/img/booth/23.jpg") left center no-repeat;
	background-size: contain;
}

#booth24 {
	background: url("/www/img/booth/24.jpg") left center no-repeat;
	background-size: contain;
}

#booth25 {
	background: url("/www/img/booth/25.jpg") left center no-repeat;
	background-size: contain;
}

#booth26 {
	background: url("/www/img/booth/26.jpg") left center no-repeat;
	background-size: contain;
}

#booth27 {
	background: url("/www/img/booth/27.jpg") left center no-repeat;
	background-size: contain;
}

#booth28 {
	background: url("/www/img/booth/28.jpg") left center no-repeat;
	background-size: contain;
}

#booth29 {
	background: url("/www/img/booth/29.jpg") left center no-repeat;
	background-size: contain;
}

#booth30 {
	background: url("/www/img/booth/30.jpg") left center no-repeat;
	background-size: contain;
}

#booth31 {
	background: url("/www/img/booth/31.jpg") left center no-repeat;
	background-size: contain;
}

#booth32 {
	background: url("/www/img/booth/32.jpg") left center no-repeat;
	background-size: contain;
}

#booth33 {
	background: url("/www/img/booth/33.jpg") left center no-repeat;
	background-size: contain;
}

#booth34 {
	background: url("/www/img/booth/34.jpg") left center no-repeat;
	background-size: contain;
}

#booth35 {
	background: url("/www/img/booth/35.jpg") left center no-repeat;
	background-size: contain;
}

#booth36 {
	background: url("/www/img/booth/36.jpg") left center no-repeat;
	background-size: contain;
}

#booth37 {
	background: url("/www/img/booth/37.jpg") left center no-repeat;
	background-size: contain;
}

#booth38 {
	background: url("/www/img/booth/38.jpg") left center no-repeat;
	background-size: contain;
}

#booth39 {
	background: url("/www/img/booth/39.jpg") left center no-repeat;
	background-size: contain;
}

#booth40 {
	background: url("/www/img/booth/40.jpg") left center no-repeat;
	background-size: contain;
}

#booth41 {
	background: url("/www/img/booth/41.jpg") left center no-repeat;
	background-size: contain;
}

#booth42 {
	background: url("/www/img/booth/42.jpg") left center no-repeat;
	background-size: contain;
}

#booth43 {
	background: url("/www/img/booth/43.jpg") left center no-repeat;
	background-size: contain;
}

#booth44 {
	background: url("/www/img/booth/44.jpg") left center no-repeat;
	background-size: contain;
}

#booth45 {
	background: url("/www/img/booth/45.jpg") left center no-repeat;
	background-size: contain;
}

#booth46 {
	background: url("/www/img/booth/46.jpg") left center no-repeat;
	background-size: contain;
}

#booth47 {
	background: url("/www/img/booth/47.jpg") left center no-repeat;
	background-size: contain;
}

#booth48 {
	background: url("/www/img/booth/48.jpg") left center no-repeat;
	background-size: contain;
}

#booth49 {
	background: url("/www/img/booth/49.jpg") left center no-repeat;
	background-size: contain;
}

#booth50 {
	background: url("/www/img/booth/50.jpg") left center no-repeat;
	background-size: contain;
}

#booth51 {
	background: url("/www/img/booth/51.jpg") left center no-repeat;
	background-size: contain;
}

#booth52 {
	background: url("/www/img/booth/52.jpg") left center no-repeat;
	background-size: contain;
}

#booth53 {
	background: url("/www/img/booth/53.jpg") left center no-repeat;
	background-size: contain;
}

#booth54 {
	background: url("/www/img/booth/54.jpg") left center no-repeat;
	background-size: contain;
}

#booth55 {
	background: url("/www/img/booth/55.jpg") left center no-repeat;
	background-size: contain;
}

#booth56 {
	background: url("/www/img/booth/56.jpg") left center no-repeat;
	background-size: contain;
}

#booth57 {
	background: url("/www/img/booth/57.jpg") left center no-repeat;
	background-size: contain;
}

#booth58 {
	background: url("/www/img/booth/58.jpg") left center no-repeat;
	background-size: contain;
}

#booth59 {
	background: url("/www/img/booth/59.jpg") left center no-repeat;
	background-size: contain;
}

#booth60 {
	background: url("/www/img/booth/60.jpg") left center no-repeat;
	background-size: contain;
}

#booth61 {
	background: url("/www/img/booth/61.jpg") left center no-repeat;
	background-size: contain;
}

#booth62 {
	background: url("/www/img/booth/62.jpg") left center no-repeat;
	background-size: contain;
}

#booth63 {
	background: url("/www/img/booth/63.jpg") left center no-repeat;
	background-size: contain;
}

#booth64 {
	background: url("/www/img/booth/64.jpg") left center no-repeat;
	background-size: contain;
}

#booth65 {
	background: url("/www/img/booth/65.jpg") left center no-repeat;
	background-size: contain;
}

#booth66 {
	background: url("/www/img/booth/66.jpg") left center no-repeat;
	background-size: contain;
}

#booth67 {
	background: url("/www/img/booth/67.jpg") left center no-repeat;
	background-size: contain;
}

#booth68 {
	background: url("/www/img/booth/68.jpg") left center no-repeat;
	background-size: contain;
}

#booth69 {
	background: url("/www/img/booth/69.jpg") left center no-repeat;
	background-size: contain;
}

#booth70 {
	background: url("/www/img/booth/70.jpg") left center no-repeat;
	background-size: contain;
}

.print {
	background: rgba(255, 255, 255, 0.5) !important;
	border-radius: 5px;
	position: relative;

	&:before {
		content: "Now Printing...";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 0.8em;
	}
}

#sin1 {
	background: url("/www/img/award/1.jpg") center center no-repeat;
	background-size: cover;
}

#sin2 {
	background: url("/www/img/award/2.jpg") center center no-repeat;
	background-size: cover;
}

#sin3 {
	background: url("/www/img/award/3.jpg") center center no-repeat;
	background-size: cover;
}

#sin4 {
	background: url("/www/img/award/4.jpg") center center no-repeat;
	background-size: cover;
}

#sin5 {
	background: url("/www/img/award/5.jpg") center center no-repeat;
	background-size: cover;
}

#sin6 {
	background: url("/www/img/award/6.jpg") center center no-repeat;
	background-size: cover;
}

#sin7 {
	background: url("/www/img/award/7.jpg") center center no-repeat;
	background-size: cover;
}

#sin8 {
	background: url("/www/img/award/8.jpg") center center no-repeat;
	background-size: cover;
}

#sin9 {
	background: url("/www/img/award/9.jpg") center center no-repeat;
	background-size: cover;
}

#sin10 {
	background: url("/www/img/award/10.jpg") center center no-repeat;
	background-size: cover;
}

#sin11 {
	background: url("/www/img/award/11.jpg") center center no-repeat;
	background-size: cover;
}

#sin12 {
	background: url("/www/img/award/12.jpg") center center no-repeat;
	background-size: cover;
}

#sin13 {
	background: url("/www/img/award/13.jpg") center center no-repeat;
	background-size: cover;
}

#sin14 {
	background: url("/www/img/award/14.jpg") center center no-repeat;
	background-size: cover;
}

#sin15 {
	background: url("/www/img/award/15.jpg") center center no-repeat;
	background-size: cover;
}

#sin16 {
	background: url("/www/img/award/16.jpg") center center no-repeat;
	background-size: cover;
}

#sin17 {
	background: url("/www/img/award/17.jpg") center center no-repeat;
	background-size: cover;
}

#sin18 {
	background: url("/www/img/award/18.jpg") center center no-repeat;
	background-size: cover;
}

#sin19 {
	background: url("/www/img/award/19.jpg") center center no-repeat;
	background-size: cover;
}

#sin20 {
	background: url("/www/img/award/20.jpg") center center no-repeat;
	background-size: cover;
}

#sin21 {
	background: url("/www/img/award/21.jpg") center center no-repeat;
	background-size: cover;
}

#sin22 {
	background: url("/www/img/award/22.jpg") center center no-repeat;
	background-size: cover;
}

#sin23 {
	background: url("/www/img/award/23.jpg") center center no-repeat;
	background-size: cover;
}

#sin24 {
	background: url("/www/img/award/24.jpg") center center no-repeat;
	background-size: cover;
}

#sin25 {
	background: url("/www/img/award/25.jpg") center center no-repeat;
	background-size: cover;
}

#sin26 {
	background: url("/www/img/award/26.jpg") center center no-repeat;
	background-size: cover;
}

#sin27 {
	background: url("/www/img/award/27.jpg") center center no-repeat;
	background-size: cover;
}

#sin28 {
	background: url("/www/img/award/28.jpg") center center no-repeat;
	background-size: cover;
}

#sin29 {
	background: url("/www/img/award/29.jpg") center center no-repeat;
	background-size: cover;
}

#sin30 {
	background: url("/www/img/award/30.jpg") center center no-repeat;
	background-size: cover;
}

#booth {
	h4 {
		font-size: 0.9em;
		text-align: left;
		margin-bottom: 0.5rem;
	}
}

#list {
	.icon {
		transform: scale(0.6) translate(-5px, -4px) !important;
		color: white;
	}

	&:before{
		background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
		}
}

.sinsa {
	margin-top: 1.5rem;
	height: 13rem;
	border-radius: 5px;

	&~h4 {
		margin-top: 0.5rem;
	}
}

.sinsa~p {
	font-size: 0.7em;
	line-height: 1.4;
}

#tab-content>div {
	display: none;
}

#tab-content>div.is-active {
	display: block;
}

.tabs {
	overflow: visible;

	li.is-active a {
		background-color: white !important;
		color: black !important;
	}

	a {
		font-family: $bold;
		border: none !important;
		border-radius: 5px !important;
		margin-left: 5px;
		margin-right: 5px;
		transition: all ease 0.5s;

		&:hover {
			background-color: transparent !important;
			box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
		}
	}
}

.new {
	position: relative;

	&:before {
		position: absolute;
		content: "New!";
		text-align: center;
		left: 0;
		top: 0;
		background: $grad2;
		font-family: $bold;
		padding: 0 0.5rem;
		color: white;
		border-radius: 5px 0 5px 0;
	}

}

@include tablet-only {
	.tablet-none {
		display: none !important;
	}
	#contact{
		padding-top: 5rem;
	}
	.contleft {
		display: none;
	}

	.navbar {
		width: 100%;
		padding-top: 0.5rem;
		padding-left: 0.5rem;
		z-index: 10;
		padding-bottom: 0.5rem;
		font-size: 1.2em;
		font-family: $bold;

		img {
			height: 4rem;
			max-height: 4rem;
		}

		p {
			padding: 0;
		}

		.navbar-link {
			padding-right: 1rem;
		}

		.navbar-dropdown {
			display: none;
		}

		.mpz {
			padding: 0 !important;
		}
	}

	.navbar-burger {
		margin-top: 1rem;
		margin-right: 1rem;
	}

	.tablet-only {
		position: static;
	}

	#logo {
		bottom: 1.5rem;
		right: 1.5rem;
		height: 8rem;
	}

	#catch {
		top: 50%;
		height: 8rem;
	}

	.inbox,
	.content-container {
		padding: 1rem;
	}

}

.tablet-only {
	display: none;
}

.trans {
	opacity: 0.3;
}

@include mobile {
	h6 {
		font-size: 1.1em;
		font-family: $bold;
		margin-top: 0;
		margin-bottom: 1rem;
	}
	#contact{
		padding-top: 50px;
	}
	.mobile-none {
		display: none !important;
	}

	.navbar-menu {
		background-color: rgba(255, 255, 255, 0.8);
	}

	.navbar {
		padding-top: 0.2rem;
		padding-left: 0;
		padding-bottom: 0;

		img {
			height: 2.5rem;
		}

		.navbar-dropdown {
			display: none;
		}

		.mpz {
			padding: 0 !important;
		}
	}

	.navbar-burger {
		margin-top: 0.2rem;
		margin-right: 0.5rem;
	}

	#logo {
		bottom: 0.5rem;
		height: 7rem;
		left: 50%;
		transform: translateX(-50%);
	}

	#catch {
		left: 1rem;
		top: 4rem;
		height: 6rem;
		transform: translate(0, 0);
	}

	#saiten {
		font-size: 1.1em;
	}

	.inbox,
	.content-container {
		padding: 0.5rem !important;

		p {
			font-size: 0.8em;
			line-height: 1.8;
		}
	}


	h3 {
		margin-bottom: 0.5rem;
	}

	.section {
		padding: 2rem 0.5rem;
		margin-top: 0;
	}

	.contleft {
		display: none;
	}
}

.dropdown {
	display: block;

	.dropdown-trigger button {
		border: none;
		font-family: $bold;
		transition: all ease 0.5s;
		background-color: transparent;
		border: 2px solid white;
		margin-top: 10px;

		&:hover {
			box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
			background-color: #FFF;
		}
	}

	.dropdown-menu {
		position: static;

		.dropdown-content {
			border: none;
			box-shadow: none;
			background-color: transparent;

			p {
				font-size: 0.8em;
				line-height: 1.8;

				@include mobile {
					font-size: 0.7em;
				}
			}
		}
	}
}

.dropdown-menu {
	min-width: auto !important;
}

// Left to right wipe animation
.lft-rgt-wipe {
	&:after {
		// Pushes the wipe layer out of the button so it won't be seen
		transform: translateX(0);
	}

	&:hover {
		&:after {
			// This is the position, after the hover animation is finished
			transform: translateX(100%);
		}
	}
}